@(pwForm: Form[(String, String)])(implicit flash: Flash, messages: Messages)

@import helper._

@main("Comic List") {
  <h1>ChangePassword</h1>
  @form(action = routes.UserManagement.submitChangePassword, args = 'id -> "changepassword") {
    <div>@inputPassword(pwForm("password"))</div>
    <div>@inputPassword(pwForm("repeat"))</div>
    <div><input type="submit" value="Set Password" /></div>
  }
}
