@(comics: List[models.Comic], user: User)

@main("Comic List") {
  <div style="padding: 20px;"><a href="/list">up</a></div>

  <div id="comicList">
  </div>

  <script type="text/javascript">
    var comicList = org.guodman.webcbv.js.model.ComicList();
      @comics.map({ comic =>
        Html(s"\ncomicList.add(org.guodman.webcbv.js.model.Comic("
          +s"'${comic.getFileName.toString}',"
          +s"${user.getPlace(comic)},"
          +s"${comic.getFullSlug.pageCount},"
          +s"'${comic.jsPath}',"
          +s"'${comic.slug}'"
        +"));")
      })
    org.guodman.webcbv.js.MainJS().loadComicList(comicList);
  </script>
}
