@(file: java.io.File, comics: List[models.Comic], cur: Comic, user: User, pageReadTotal: Int, pageAvailableTotal: Int)

@main("Comic List") {
  @if(file.getParentFile.getAbsolutePath == (new java.io.File(models.Constants.files).getAbsolutePath)) {
    <div style="padding: 20px;"><a href="/list">up</a></div>
    <div>Pages: @pageReadTotal / @pageAvailableTotal</div>
    <div>Comics: @comics.size</div>
  } else {
    @if(file.getAbsolutePath != (new java.io.File(models.Constants.files).getAbsolutePath)) {
      <div style="padding: 20px;"><a href="@routes.Application.list(java.net.URLEncoder.encode(file.getParentFile.getAbsolutePath.stripPrefix(models.Constants.files), "UTF-8"))">up</a></div>
    } else {
      @if(cur != null && cur.isValid) {
        <div style="float: right;" id="currentComicHolder"></div>
        <script type="text/javascript">
          var curComic = org.guodman.webcbv.js.model.ComicList();
          @Html(s"\ncurComic.add(org.guodman.webcbv.js.model.Comic("
            +s"'${cur.getFileName.toString}',"
            +s"${user.getPlace(cur)},"
            +s"${cur.getFullSlug.pageCount},"
            +s"'${cur.jsPath}',"
            +s"'${cur.slug}'));")
          org.guodman.webcbv.js.MainJS().loadCurComic(curComic);
        </script>
        <div style="padding: 20px;"><a href="@routes.Application.inProgress">In Progress</a></div>
      }
    }
  }
  <ul>
    @file.listFiles.toArray.toList.sortWith((a: java.io.File, b: java.io.File) => (if (a.isDirectory && !b.isDirectory) { true } else if (b.isDirectory && !a.isDirectory) { false } else a.getName < b.getName)).map { f =>
      @if(f.isDirectory) {
        <li><a href="@routes.Application.list(java.net.URLEncoder.encode(f.getAbsolutePath.stripPrefix(models.Constants.files), "UTF-8"))">@f.getName</a></li>
      }
    }
  </ul>
  <div id="comicList"></div>
  <script type="text/javascript">
    var comicList = org.guodman.webcbv.js.model.ComicList();
      @comics.map({ comic =>
        Html(s"\ncomicList.add(org.guodman.webcbv.js.model.Comic("
          +s"'${comic.getFileName.toString}',"
          +s"${user.getPlace(comic)},"
          +s"${comic.getFullSlug.pageCount},"
          +s"'${comic.jsPath}',"
          +s"'${comic.slug}'"
        +"));")
      })
    org.guodman.webcbv.js.MainJS().loadComicList(comicList);
  </script>
}
