@(loginForm: Form[(String, String)])(implicit flash: Flash, messages: Messages)

@import helper._

@main("Comic List") {
  <h1>Login</h1>
  <div>@flash.get("message").getOrElse("")</div>
  @form(action = routes.UserManagement.authenticate, args = 'id -> "loginform") {
    <div>@helper.inputText(loginForm("username"), '_label -> "User Name")</div>
    <div>@helper.inputPassword(loginForm("password"), '_label -> "Password")</div>
    <div><input type="submit" value="Login" /></div>
  }
}
