@(file: java.io.File, page: Int, pageCount: Int)

@main("Comic List") {
  <script src="@routes.Assets.at("javascripts/viewControls.js")" type="text/javascript"></script>
  <div id="comicContainer">
    <canvas id="comicCanvas"></canvas>
  </div>
  <div style="width: 100%; height: 2px;"></div>
  <div id="progressBar" style="width: 100%; height: 2px; background-color: #fff; position: fixed; bottom: 0; left: 0">
    <div id="progressFill" style="width: 0%; height: 100%; background-color: #aaa;"></div>
  </div>
  <div class="screenLoading">
    <img src="/assets/images/loading.gif" />
  </div>
  <script type="text/javascript">
    window.comicPage = @page;
    window.comicPath = "@file.getAbsolutePath.stripPrefix(models.Constants.files)";
    window.comicMaxPages = @pageCount;
  </script>
}
