@text-color: #423c37;

* {
  border: 0;
  padding: 0;
}

body {
  color: @text-color;
  line-height: 1;
  padding: 0;
  margin: 0;
}

ul {
  li {
    margin: 20px;
  }
}

#loginform {
  input {
    border: solid 1px black;
  }
  input[type=submit] {
    padding: 5px;
    border: none;
  }
}

#comicCanvas {
  display: block;
}

.comicBlock {
  width:140px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  display: inline-block;
}

.screenLoading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;

  img {
    display: inline-block;
    max-width: 50%;
    max-height: 50%;
    margin-top: 20px;
  }
}
